.container_home {
    position: relative;
    z-index: 5;
}

.container_home > .header {
    padding: 2.5% 0 15% 10%;
}

.container_home > .header > .titulo{
    width: 50%;
    color: white;
    font-family: 'Brasika', sans-serif;
    font-size: 45px;
    line-height: 1.25;
}

.faixa_divisoria{
    position: relative;
    top: -30px;
    width: 100%;
}

.saiba_mais{
    margin-top: 20px;
    border: none;
    border-radius: 100px;
    padding: 12px 30px;
    background-color: rgb(251, 219, 219);
    color: #ff3131;

    text-decoration: none;
    font-weight: bolder;
    font-family: "Montserrat", sans-serif;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.saiba_mais:hover{
    cursor: pointer;
    background-color: white;
    color: #b72b2b;
    transform: translateY(-5px);
}

.container_sobreNos{
    padding: 300px 0;
    background-image: url(../../assets/holofotes.png);
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
}

.container_sobreNos > .texto{
    width: 45%;
    margin: 0 auto;
    text-align: center;
    color: white;
    font-family: "Montserrat", sans-serif;
}

.texto > h1{
    margin-bottom: 20px;
    font-size: 40px;
}

.container_sobreNos > .texto > p{
    margin-bottom: 20px;
    font-size: 22px;
}

.container_geralHistoria{
    padding-bottom: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .container_geralHistoria > a{
    background-color: white;
    padding: 10px 40px;
    border-radius: 20px;
} */

.container_historiaCinema{
    display: flex;
    align-items: center;
    gap: 5%;
    padding: 0 15%;
    color: white;
}
.texto > p{
    margin-bottom: 10px;
    text-align: justify;
}

.container_historiaCinema > .imagem > img{
    height: 500px;
    width: 425px;
    object-fit: cover;
    border-radius: 10px 75px 10px 10px;
    border: 5px solid white;
}

/* SEÇÃO DA CHECKLIST*/
.container_checklist{
    background-color: #191919;
    color: white;
    padding: 20px 0;
}

.checklist_conteudo{
    padding: 0 15%;
}

.checklist_conteudo > .texto > h1{
    font-family: 'Brasika', sans-serif;
    font-size: 45px;
}

.checklist_conteudo > .secoes{
    margin-top: 20px;
    display: flex;
    gap: 15px;
}