@media screen and (min-width:1400px) {
    /* *{
        background-color: green;
    } */
}
@media screen and (max-width:1125px){
    /* *{
        background-color: red;
    } */
    .container_sobreNos > .texto > p{
        margin-bottom: 15px;
        font-size: 20px;
    }    

    .container_historiaCinema{
        padding: 5% 12%;
    }
    
    .container_historiaCinema > .imagem > img{
        height: 475px;
        width: 400px;
    }
    .texto > h1{
        margin-bottom: 15px;
        font-size: 30px;
    }

    .container_sobreNos{
        padding: 250px 0;
    }
}

@media screen and (max-width:1115px){
    .container_historiaCinema{
        flex-direction: column-reverse;
        padding: 5% 15%;
        color: white;
    }
    
    .container_historiaCinema > .imagem > img{
        height: 325px;
        width: 650px;
        gap: 0;
        border-radius: 0 0 50px 50px;
        margin-bottom: 30px;
    }
}

@media screen and (max-width:950px){
    .titulo > h1{
        font-size: 45px;
    }

    .saiba_mais{
        margin-top: 15px;
        padding: 10px 25px;
        font-size: 12px;
    }

    .container_sobreNos{
        padding-top: 150px 0;
    }

    .texto > h1{
        margin-bottom: 10px;
        font-size: 25px;
    }
    
    .container_sobreNos > .texto > p{
        margin-bottom: 10px;
        font-size: 16px;
    }

    .container_sobreNos > .texto{
        width: 60%;
    }

    .checklist_conteudo{
        padding: 0 10%;
    }
    
    .checklist_conteudo > .texto > h1{
        font-family: 'Brasika', sans-serif;
        font-size: 32px;
    }

    .container_historiaCinema > .imagem > img{ width: 500px; }
}

@media screen and (max-width:850px){
    .secoes{ flex-direction: column; }
}

@media screen and (max-width:620px){
    .titulo > h1{ font-size: 28px; }

    .saiba_mais{
        margin-top: 10px;
        padding: 7px 15px;
        font-size: 10px;
    }

    .container_sobreNos{
        padding-top: 100px;
        padding-bottom: 75px;
    }

    .container_home > .header {
        padding: 0 0 0 10%;
    }

    .container_sobreNos > .texto{
        width: 80%;
    }

    .texto > h1{ font-size: 18px; }
    .container_sobreNos > .texto > p{ font-size: 14px; }

    .container_historiaCinema{
        flex-direction: column-reverse;
        padding: 5% 15%;
        color: white;
    }
    
    .container_historiaCinema > .imagem > img{
        height: 200px;
        width: 325px;
        border-radius: 0 0 25px 25px;
        margin-bottom: 15px;
    }
}

/* 
@media screen and (min-width:1400px) {
    *{
        background-color: green;
    }
}
@media screen and (max-width:1125px){}
@media screen and (max-width:950px){}
@media screen and (max-width:620px){} */